@font-face {
  font-family: 'GmarketSansBold';
  src: url(font/gmksans_bold.woff);
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url(font/gmksans_light.woff);
}

@font-face {
  font-family: 'tvnjoy';
  src: url(font/tvnjoy_medium.woff);
}

header {
  text-align: center;
}

body {
  font-family: 'GmarketSansLight';
  background-color: #5B2386;
  color: #FFF;
  font-size: 18px;
  text-align: center;
}

h1 {
  background-image: url(images/clock.png);
  padding: 60px auto;
  width: 220px;
  repeat: none;
}

/*title*/
q {
  font-family: 'tvnjoy';
  color: #F5DF4D;
  font-size: 36px;
}

.img {
  margin: 50px;
}

/*main*/
p .bold {
  font-family: 'GmarketSansBold';
  font-size: 24px;
}

strong
{
  font-family: 'GmarketSansBold';
  font-size: 72px;
  padding: 2px
}

.center {
  justify-content: center;
  align-items: center;
}

/*text box*/
input {
  align-items: center;
  font-family: 'GmarketSansLight';
  width: auto;
  padding: 10px;
}

/*button*/
button {
  font-family: 'GmarketSansBold';
  font-size: 24px;
  color: #5B2386;
  background-color: #FCEE21;
  border: none;
  padding: 10px 40px;
  border-radius: 30px; /*동그란 테두리*/
}

button {
  font-family: 'GmarketSansBold';
  font-size: 24px;
  color: #5B2386;
  border: none;
  padding: 10px 40px;
  border-radius: 30px; /*동그란 테두리*/
}

/* footer */
p .ccl {
  font-family: 'GmarketSansLight';
  font-size: 12px;
  color: #FFF;
  padding: 10px 0;
}
