@font-face {
  font-family: 'GmarketSansBold';
  src: url(font/gmksans_bold.woff);
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url(font/gmksans_light.woff);
}

@font-face {
  font-family: 'tvnjoy';
  src: url(font/tvnjoy_medium.woff);
}

header {
  text-align: center;
}

body {
  font-family: 'GmarketSansLight';
  background-color: #5B2386;
  color: #FFF;
  font-size: 18px;
  text-align: center;
}

h1 {
  background-image: url(images/clock.png);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: padding-box; /*여기 너무 지저분한데 다시 생각*/
  background-size: 30%;
  width: 20px;
  padding: 100px;
}

/* title */
q {
  font-family: 'tvnjoy';
  color: #F5DF4D;
  font-size: 36px;
}

.image {
  margin: auto;
  width: 500px;
  /* margin auto와 width 값을 주면 중앙 정렬 됨 */
}

/*main*/
article {
  /* width: auto; */
}

div .quote {
  float: center;
  width: 40px;
  box-sizing: border-box;
}

p .bold {
  font-family: 'GmarketSansBold';
  font-size: 24px;
  line-height: 2.0;
}

strong
{
  font-family: 'GmarketSansBold';
  font-size: 72px;
  padding: 2px
}

.center {
  justify-content: center;
  align-items: center;
}

/*text box*/
input {
  align-items: center;
  font-family: 'GmarketSansLight';
  width: auto;
  padding: 10px;
}

/*button*/
button {
  font-family: 'GmarketSansBold';
  font-size: 24px;
  color: #5B2386;
  background-color: #FCEE21;
  border: none;
  padding: 10px 40px;
  border-radius: 30px; /*동그란 테두리*/
}

button {
  font-family: 'GmarketSansBold';
  font-size: 24px;
  color: #5B2386;
  border: none;
  padding: 10px 40px;
  border-radius: 30px; /*동그란 테두리*/
}

/* footer */
p .ccl {
  font-family: 'GmarketSansLight';
  font-size: 12px;
  color: #FFF;
  padding: 10px 0;
}
