/* @font-face {
  font-family: 'NotoSans';
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');
} */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');
/*   font-family: 'Noto Sans', sans-serif; */

header {
  text-align: right;
  padding: 10px;
  font-size: 14px;
}

a {
  padding: 0px 8px 0px;
  text-decoration: none;
  color: #FFF; /*JS 사용해서 밤낮 시간에 따라 바뀌게 해볼 것*/
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: 550;
  font-size: 80px;
  font-stretch: semi-expanded;
  font-family: 'Product Sans', sans-serif;
}

body {
  text-align: center;
  background-color: black;
  color: white;
}

input {
  padding: 10px;
  width: 400px;
  margin: auto;
  border-radius: 20px;
  border: 0px none;
}

/* input:onclick {
  border: none;
} */

input.default {
  background-image: url(/img/magnifying_glass.png) 0 0 no-repeat;
} /*이거 해결*/
